*{
    box-sizing: border-box;
}

.col1{
    float: left;
    width: 25%;
    margin: 1px;

}
.col2{
    float: left;
    width: 5%;
    margin: 1px;
}
.col3{
    float: left;
    width: 65%;
    margin: 1px;

}

