@media (max-width: 767px){
  .ft-items{
    font-size: 12px !important;
    color: black;
    font-weight: 500;
  }
 
}
.ft-items:hover {
  background-color: black !important;
  color:rgb(23, 23, 224) !important;
}
