@media screen and (max-width: 600px) {
	.project-image {
		width: 100%;
		height: 20vh;
	}
}
@media screen and (min-width: 600px) {
	.project-image {
		width: 100%;
		height: 20vh;
	}
}
@media screen and (min-width: 768px) {
	.project-image {
		width: 100%;
		height: 17vh;
	}
}

@media screen and (min-width: 992px) {
	.project-image {
		width: 100%;
		height: 25vh;
	}
}
@media screen and (min-width: 1100px) {
	.project-image {
		width: 100%;
		height: 25vh;
	}
}
.content {
	background-color: #082161;
}
a {
	text-decoration: none;
}
.nav-link:hover,
.navbar-brand:hover {
	color: yellow !important;
}
.project-card {
	background-color: #21325e;
}
.logo{
	width: 100%;
	height: 8vh;

}
.header-footer{
	background-color: #122b69;
}
